Low sending speed over NAT

Hi. I'm trying to use usrsctp in native WebRTC application to send binary data to browser. I'm using sctp wrapped in dtls sent over an libnice connection, you can get code here: https://github.com/tokarevvit/librtcdcpp
When both native app and browser are in local network with 100 Mb/s channel, sending speed is high, close to 100 Mb/s. But when browser or native app is behind NAT or TURN relay server is used I can see very low speed: ~4 Mb/s when internet channel has 50 Mb/s.
I'm using SCTP_SENDER_DRY_EVENT notification to discover that buffer has been flushed. And I can see that much time is spent to receive notification after data sending.
I got usrsctp debug output, it has multiple messages like this:

Timer type 1 goes off
Error count for 0x7fd840011250 now 1 thresh:5
Overall error count for 0x7fd840000978 now 1 thresh:10 state:3
m-c-o put out 0
Ok, we have put out 0 chunks
Timer now complete (type = 1)

But i still can't understand what is wrong and why speed is so low.
Full log is in attached file
[with_sctp_log_NAT.txt](https://github.com/sctplab/usrsctp/files/2806375/with_sctp_log_NAT.txt)


I'm experiencing the same issue: very poor performance over NAT. Tested the TCP throughput with iPerf and I get around 67mbps between the endpoints. With SCTP, I barely reach 4mbps.

@tuexen: `programs/tsctp.c` can use send callback or not. When the sending callback is not used, I see that a tight loop is used, and is used in blocking mode:
https://github.com/sctplab/usrsctp/blob/master/programs/tsctp.c#L762-L774
That has very limited usefulness. 

I reach those 4mbps by keeping the SCTP socket very well fed. I do not use SCTP_SENDER_DRY_EVENT either. All I do is to send using `usrsctp_sendv` in non blocking mode until it returns EINTR/EWOULDBLOCK. Then, when I get raw data in, after passing that data through SCTP stack using `usrsctp_conninput`, I try to saturate it again by doing even more calls to `usrsctp_sendv`.

The logic behind that approach is that when I get inbound SCTP raw data, maybe there are some SACKs in there which will free more of the send buffer. So I simply try to send again.

Overall, my approach is similar as the one in `programs/tsctp.c` for the case where `use_cb` is false. The difference is that my socket is non-blocking.



Also, on localhost, MacOS on the top of the line MacBook Pro, I get about 410mbps. Lest then half gigabit.

I recommend doing the following:

* Build usrsctp in release mode with O3 (duh!)
* Adjust the SCTP buffers to something reasonable, for example 4 MiB
* Adjust the UDP buffers to something reasonable, for example 4 MiB

With that, I'm able to get from ~520 Mbit/s to ~700 Mbit/s. Still too low for my taste but those adjustments may allow us to find the bottleneck.

See also #245 

@lgrahl Pretty please try your exact settings with a peer across an ocean. I believe the most influencing factor is the latency.

I have tried to size up send and receive buffers on both sides for both SCTP and UDP. In my case it did absolutely nothing. I still get same low performance.

I’m currently on vacation but will try to recreate the issue in our lab by using dummynet. 

Can you provide additional information:
- rtt 
- bandwidth 
- OS
- tsctp parameters 

Best regards
Felix 

@weinrank - I’ll prepare the data today, along with pcap files and debugging output.

Have a great vacation, don’t ruin it :)

Best regards,
Andrei

First graph that I could do easily, before the data requested by @weinrank. This is done to eliminate any suspicions regarding the transport layer (DTLS) being the culprit.

![image](https://user-images.githubusercontent.com/7860758/58570901-7477bc80-8241-11e9-843e-38cf5ce531fe.png)

UDP throughput is enormous via iperf. With the exception of few packets out of order (few when considering the number of sent packets), the transport via UDP between the 2 points is excellent

![Screenshot 2019-05-29 at 20 51 49](https://user-images.githubusercontent.com/7860758/58579443-b6a9f980-8253-11e9-956a-8d8d449bba97.JPG)

@shiretu At least with artificial delay, throughput definitely goes up with increased buffer sizes: https://docs.google.com/spreadsheets/d/1Ze2hZl9KZJ1hKcm5Y9J0OIknQCBHUpw5eefskCc8xpM

@lgrahl: what is maximum column? 

The theoretical maximum with the given RTT and window sizes.

Got it

Not getting anywhere near those values
```
global IN/OUT: speed: 455mbps/-1; amounts: 512242073/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 570955161/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 629432729/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 687772057/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 746104217/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 804161945/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 862598553/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 921027993/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 975010201/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 1030745497/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 1087092121/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 1144408473/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 1201190297/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 1258257817/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 1315139993/0; 
global IN/OUT: speed: 455mbps/-1; amounts: 1370836377/0; 
global IN/OUT: speed: 409mbps/-1; amounts: 1428924825/0;
```

@lgrahl  - can you share the source code for the tool you used to do the benchmark? Would very much like to test it in my environment, and see if there are any differences

I've used a patched (adjusted SCTP buffer sizes) version of [RAWRTC](https://github.com/rawrtc/rawrtc)'s [data-channel-sctp-throughput](https://github.com/rawrtc/rawrtc/blob/master/tools/data-channel-sctp-throughput.c) tool. Unfortunately that was quite a while ago and I don't have the patch any more (nor would it work with the current code base). You can try to patch it yourself though.

However, it is very well possible that your real (?) scenario deviates too much from the one I had chosen back then (IIRC I've used a constant delay in `tc`, no variation or distribution). In any case, my results were well below the theoretical maximum, too.

@lgrahl 
```[000066792] data-channel-sctp-throughput-app: (A) Started throughput test of 0.95 MiB
[000069790] data-channel-sctp-throughput-app: (A) Completed throughput test after 2.99 seconds: 2.54 Mbit/s
[000071182] data-channel-sctp-throughput-app: (A) Started throughput test of 0.95 MiB
[000074543] data-channel-sctp-throughput-app: (A) Completed throughput test after 3.36 seconds: 2.26 Mbit/s
[000075930] data-channel-sctp-throughput-app: (A) Started throughput test of 0.95 MiB
[000080248] data-channel-sctp-throughput-app: (A) Completed throughput test after 4.31 seconds: 1.76 Mbit/s
[000081638] data-channel-sctp-throughput-app: (A) Started throughput test of 0.95 MiB
[000085937] data-channel-sctp-throughput-app: (A) Completed throughput test after 4.29 seconds: 1.77 Mbit/s
[000087329] data-channel-sctp-throughput-app: (A) Started throughput test of 0.95 MiB
[000090510] data-channel-sctp-throughput-app: (A) Completed throughput test after 3.18 seconds: 2.39 Mbit/s
[000091949] data-channel-sctp-throughput-app: (A) Started throughput test of 0.95 MiB
[000098921] data-channel-sctp-throughput-app: (A) Completed throughput test after 6.97 seconds: 1.09 Mbit/s
[000100303] data-channel-sctp-throughput-app: (A) Started throughput test of 0.95 MiB
[000105158] data-channel-sctp-throughput-app: (A) Completed throughput test after 4.85 seconds: 1.57 Mbit/s
[000106548] data-channel-sctp-throughput-app: (A) Started throughput test of 0.95 MiB
[000112150] data-channel-sctp-throughput-app: (A) Completed throughput test after 5.60 seconds: 1.36 Mbit/s
[000113534] data-channel-sctp-throughput-app: (A) Started throughput test of 0.95 MiB```

@weinrank :

rtt: a bit wild. See the IPERF logs for UDP
bandwidth: more than 60mbps for TCP, a lot more for UDP
OS: tsctp server on macos, and client on linux
tsctp parameters: see the archive, it has a lot more
[report.zip](https://github.com/sctplab/usrsctp/files/3237358/report.zip)


@tuexen , @lgrahl , @lgrahl : I have managed to “fix” the throughout situation using our test app. The issue was that I was setting the send space size on the sender, and did not set a similar value on the receive space size on receiver. I was thinking that it will not impact performance because the data surfacing out inside the receiver app is dropped anyways, and there is no noticeable delays caused by app level processing. We are talking about less then 10 us. I suspect that the receiver window size reported via sacks to the sender is influencing how congestion control algorithm works on the sender.

That being said, I see the throughput going up to large values: 40-50 mbps out of 65mbps visible with tcp. It gets there step by step, slowly , after tens of seconds. Then some sort of disaster strikes, and it plunges all the way down to 1mbps. It tries to recover, even slower this time. Gets healthy again, the it drops again hard. And the cycle repeats.

Any suggestions/insights of what might cause that significant drop?

Found the culprit... changed form CC algorithm 0 to CC algorithm 1.
Day and night difference. I’m on almost the same speed as TCP.
I will post graphs after I finish the data gathering.

@tuexen : can we have some details about how the 2 algorithms work? Also, this information should be prominently put somewhere in the docs, as it really affects the throughput. A lot!

@shiretu Can you test the other congestion control algorithms?
```c
/* Standard TCP Congestion Control */
#define SCTP_CC_RFC2581         0x00000000
/* High Speed TCP Congestion Control (Floyd) */
#define SCTP_CC_HSTCP           0x00000001
/* HTCP Congestion Control */
#define SCTP_CC_HTCP            0x00000002
/* RTCC Congestion Control - RFC2581 plus */
#define SCTP_CC_RTCC            0x00000003
``` 

@nxrighthere: sure thing. Ran `SCTP_CC_HSTCP` so far and gathered the data for it. Now gathering the data for `SCTP_CC_RFC2581`. I takes about one hour for each test. So any minor glitches are smoothed out. But a sneak peek:

SCTP_CC_HSTCP avg: 60+mbps (tcp pulls out 65mbps)
SCTP_CC_RFC2581 avg: 14-16mbps


![image](https://user-images.githubusercontent.com/7860758/58750467-8c4a7d00-849b-11e9-8129-03aba1aafe80.png)


> @tuexen : can we have some details about how the 2 algorithms work? Also, this information should be prominently put somewhere in the docs, as it really affects the throughput. A lot!

The standard CC is described in [RFC 4960](https://tools.ietf.org/html/rfc4960#section-7). The alternate one seems to be described in [RFC 3649](https://tools.ietf.org/html/rfc3649). The alternate congestion controls are not tested very well...

Since you are comparing with TCP, which congestion control are you using there? If you don't set it explicitly, which OS are you using (Linux uses Cubic defined in [RFC 8312](https://tools.ietf.org/html/rfc8312), FreeBSD uses New Reno defined in [RFC 5681](https://tools.ietf.org/html/rfc5681), ...)?

Linux embedded based on Debian 9.2 on aarch64 for the sender, and macOS Mojave for receiver. 

> Linux embedded based on Debian 9.2 on aarch64 for the sender, and macOS Mojave for receiver.

Congestion control is done by the sender, flow control by the receiver. This means that you are comparing to Cubic...

![image](https://user-images.githubusercontent.com/7860758/58750912-8dca7400-84a0-11e9-81d8-e4272784d3f2.png)


chewing on `SCTP_CC_HTCP` now

![image](https://user-images.githubusercontent.com/7860758/58751679-3f21d780-84aa-11e9-8983-36957350b65a.png)


`SCTP_CC_RTCC` is cooking, but it does not look good. Waiting 1 hour for the sake of completeness

![image](https://user-images.githubusercontent.com/7860758/58752199-adb76300-84b3-11e9-9c80-c7800cd1894c.png)


[data.zip](https://github.com/sctplab/usrsctp/files/3244102/data.zip) contains the numerical data and the graphs.


Thanks for the tests. What the average round-trip time between endpoints?

@nxrighthere:

```
64 bytes from wiped_ip_here: icmp_seq=1 ttl=49 time=197 ms
64 bytes from wiped_ip_here: icmp_seq=2 ttl=49 time=199 ms
64 bytes from wiped_ip_here: icmp_seq=3 ttl=49 time=197 ms
64 bytes from wiped_ip_here: icmp_seq=4 ttl=49 time=199 ms
64 bytes from wiped_ip_here: icmp_seq=5 ttl=49 time=199 ms
64 bytes from wiped_ip_here: icmp_seq=6 ttl=49 time=198 ms
64 bytes from wiped_ip_here: icmp_seq=7 ttl=49 time=197 ms
64 bytes from wiped_ip_here: icmp_seq=8 ttl=49 time=197 ms
64 bytes from wiped_ip_here: icmp_seq=9 ttl=49 time=198 ms
64 bytes from wiped_ip_here: icmp_seq=10 ttl=49 time=199 ms
64 bytes from wiped_ip_here: icmp_seq=11 ttl=49 time=197 ms
64 bytes from wiped_ip_here: icmp_seq=12 ttl=49 time=199 ms
64 bytes from wiped_ip_here: icmp_seq=13 ttl=49 time=199 ms
64 bytes from wiped_ip_here: icmp_seq=14 ttl=49 time=199 ms
64 bytes from wiped_ip_here: icmp_seq=15 ttl=49 time=197 ms
64 bytes from wiped_ip_here: icmp_seq=16 ttl=49 time=196 ms
64 bytes from wiped_ip_here: icmp_seq=17 ttl=49 time=196 ms
```

So the link has an RTT of 200ms. Do you know the bandwidth? Is there competing traffic? Is it a simulated link or is it a real connection?

Real connection, the bandwidth is much much higher. I can get about 600mbps

I have uploaded [tsctp report](https://github.com/sctplab/usrsctp/files/3237358/report.zip) in this thread. It contains iperf stats with both TCP and UDP. 

I have created a special build for our software using HTCP CCA active on both sides: sender and receiver. Our use case is highly asymmetrical in the sense that one side is pushing massive amounts of data compared with the other side which is just giving hundreds of bytes messages with just commands. 

So far, we have the excellent results. Tests were made with all sorts of connectivity combinations: LAN vs LTE. Tests were conducted between various parts of the world for the endpoints: Europe, US and Asia. The latency greatly varies for each combination: region of endpoints and the kind of connection - LAN vs LTE vs WiFi.

Overall, on higher than normal latency conditions, the transfers starts slower but then it ramps up to megabytes per second. Compared with the default CCA which delivers slower than 100 kilobytes per second speeds, this is a smashing success for the way we use this.

@tuexen - all this awesome results were obtained using custom compiled version of google webrtc library. That covers our needs for mobile apps. However we are dead in water with Chrome. My question for you: do you believe I should create a detailed bug report along with a patch for Chrome suggesting changing the CCA and also greatly increase the send/receive space? Just FYI, that is 256KB right now, which neuters the connection even with the perfect theoretical CCA on the sender side. Chrome is usually the receiver in our case.

Second question: what would be your trust level for the HTCP CCA? Would you trust it for prod environments?

Best regards
Andrei

@shiretu We (we are still looking into the implementation of the Nagle algorithm), but I could understand that the HSTCP CC is better suited for long fat pipes. We would need to test it a bit before being confident that the implementation behaves as specified.

Regarding your point of making it the standard CC: Up to now, people were very reluctant to make the data channel more aggressive, since it might hurt the media channels but adding more delay due to filled buffers. BBR might help here once its specification is stable. So I'm not sure this is where they want to go... But you could try. Or make the CC user selectable...

Thanks @tuexen. How about suggesting Chrome to greatly increase the recv space? That would be sufficient, at least for our receive-heavy scenario in Chrome. Would that be a wise thing to do? 

You can ask them. I think (maybe I'm wrong), @lgrahl increased it for Firefox. @lgrahl Do I remember it correctly?

Yep, we increased buffer sizes to 1 MiB in Firefox.

@shiretu After the discussion in https://bugs.chromium.org/p/webrtc/issues/detail?id=7774, I've got the strong impression that they don't want to increase the buffer sizes because it has a side effect which increases their maximum message size. That being said, they could just continue to announce a maximum message size of 256 KiB in the SDP. You could try creating a PR and see how it turns out. Maybe they'll swallow it. [Here's a patch](https://github.com/threema-ch/webrtc-build-docker/blob/7d5b94fee35e547fe94da0f75c8e890a13696d06/build/patches/increase-sctp-buffer-sizes.patch.3ema).

@lgrahl I see the issues that could arise from adjusting the send space size. Quite dumb decision they have made to model the max message size based on the send space size. However, increasing the receive space size to decent 4,8 or even 16MB should be inconsequential for how messages will be reconstructed, as the assembling of chunks into messages solely depends on how the sender sent them, not on the size of the bucket in which they are accumulated for reconstruction.

Would love to know if I'm correct in assuming all that. If I'm correct, I'll just create a bug report. 256KB is just ridiculous. That's 8.38mbps theoretical throughput limit with the most perfect CC based on RTT on a 250ms delay pipe. And from our tests across oceans/continents, the delay is between 200 and 250ms. We have mid-range cameras wanting to stream at 6mbps. Factoring in imperfections, that's barely enough for a single camera. Let alone 5x5 grids of 25 cams. 

@shiretu I doubt that this was an intentional design but that's another story. They made what they made.

Be aware that those buffers are constant, so memory usage would be `#peer-connections-of-tab * (send buffer + receive buffer)`. There are data channel use cases with a lot of peer connections (e.g. webtorrent). By that I'm saying: Getting them to accept 1 MiB buffer sizes would be a good start and IIRC that would give you a theoretical maximum of 40 Mbit/s at 200ms.

HTCP works well indeed, but it seems that it crashes the sender application, I've got 100% reproducible crash on Windows by simply suspending the sender thread for 100-500 milliseconds. WinDbg catches the exception every time at:
```c
static inline uint32_t
htcp_ccount(struct htcp *ca)
{
	return (htcp_cong_time(ca)/ca->minRTT);
}
```

Division by zero?

Yes, it seems that adding a check for `ca->minRTT` solved this.

@lgrahl: regarding the `buffers are constant` remark. yes, I'm well aware of that. But honestly, cutting off the leg because of a broken nail is not a nice thing to do. I understand that there are apps wanting lots and lots of WRTC instances, but that should not kill the apps wanting just a single high speed WRTC connection. And my gut feeling its that there are many orders of magnitude more apps wanting a single wrtc connection then are apps wanting many wrtc connections. Hopefully, Chrome will also understand this

@shiretu 
hello,coul you tell me where can I set HSTCP CC,I can't find the code.
Please,Thank you!

@whrtqa : Pick one:

```
//usrsctp_sysctl_set_sctp_default_cc_module(SCTP_CC_RFC2581); //default, 16mbps
//usrsctp_sysctl_set_sctp_default_cc_module(SCTP_CC_HSTCP); //64mbps
usrsctp_sysctl_set_sctp_default_cc_module(SCTP_CC_HTCP); //74mbps
//usrsctp_sysctl_set_sctp_default_cc_module(SCTP_CC_RTCC); //11mbps
```

@shiretu ,Thanks very much!!!

A word of warning regarding HTCP: I can reproduce a segfault with my benchmark tool.

```
#0  0x00007f9f39ec5090 in htcp_ccount (ca=0x5641bdfcb5c0) at ../subprojects/usrsctp/usrsctplib/netinet/sctp_cc_functions.c:1965
#1  0x00007f9f39ec515b in measure_rtt (net=0x5641bdfcb420) at ../subprojects/usrsctp/usrsctplib/netinet/sctp_cc_functions.c:2000
#2  0x00007f9f39ec5970 in htcp_cong_avoid (stcb=0x5641bdfcab40, net=0x5641bdfcb420) at ../subprojects/usrsctp/usrsctplib/netinet/sctp_cc_functions.c:2163
#3  0x00007f9f39ec5cad in sctp_htcp_cwnd_update_after_sack (stcb=0x5641bdfcab40, asoc=0x5641bdfcab98, accum_moved=1, reneged_all=0, will_exit=0) at ../subprojects/usrsctp/usrsctplib/netinet/sctp_cc_functions.c:2286
#4  0x00007f9f39ed2dcc in sctp_express_handle_sack (stcb=0x5641bdfcab40, cumack=426409168, rwnd=1045600, abort_now=0x7ffd28080628, ecne_seen=0) at ../subprojects/usrsctp/usrsctplib/netinet/sctp_indata.c:4232
#5  0x00007f9f39ee5004 in sctp_process_control (m=0x5641be2777b0, iphlen=0, offset=0x7ffd280809a0, length=28, src=0x7ffd28080b30, dst=0x7ffd28080b40, sh=0x5641be277800, ch=0x7ffd28080700, inp=0x5641bdfc1580, stcb=0x5641bdfcab40, netp=0x7ffd280809e0,
    fwd_tsn_seen=0x7ffd280809b4, vrf_id=0, port=0) at ../subprojects/usrsctp/usrsctplib/netinet/sctp_input.c:5201
#6  0x00007f9f39ee6875 in sctp_common_input_processing (mm=0x7ffd28080b18, iphlen=0, offset=12, length=28, src=0x7ffd28080b30, dst=0x7ffd28080b40, sh=0x5641be277800, ch=0x5641be27780c, compute_crc=0 '\000', ecn_bits=0 '\000', vrf_id=0, port=0)
    at ../subprojects/usrsctp/usrsctplib/netinet/sctp_input.c:5904
#7  0x00007f9f39eb8c20 in usrsctp_conninput (addr=0x5641bdfc1250, buffer=0x5641be2e0060, length=28, ecn_bits=0 '\000') at ../subprojects/usrsctp/usrsctplib/user_socket.c:3518
#8  0x00007f9f3a706582 in rawrtc_sctp_transport_feed_inbound (transport=0x5641bdfc1250, buffer=0x5641bdfcc220, ecn_bits=0 '\000') at ../subprojects/rawrtcdc/src/sctp_transport/transport.c:3017
#9  0x00007f9f3a7b7dce in sctp_transport_inbound_handler (buffer=0x5641bdfcc220, arg=0x5641bdfc1250) at ../src/sctp_transport/transport.c:28
#10 0x00007f9f3a7ac030 in dtls_receive_handler (buffer=0x5641bdfcc220, arg=0x5641bdfb4180) at ../src/dtls_transport/transport.c:195
#11 0x00007f9f3a77e5c4 in conn_recv (tc=0x5641bdfcb7f0, mb=0x5641bdfcc220) at ../subprojects/re/src/tls/openssl/tls_udp.c:469
#12 0x00007f9f3a77ee71 in recv_handler (src=0x7ffd28080db0, mb=0x5641bdfcc220, arg=0x5641bdfc0f50) at ../subprojects/re/src/tls/openssl/tls_udp.c:788
#13 0x00007f9f3a77ef1d in dtls_receive (sock=0x5641bdfc0f50, src=0x7ffd28080db0, mb=0x5641bdfcc220) at ../subprojects/re/src/tls/openssl/tls_udp.c:815
#14 0x00007f9f3a7ac59c in udp_receive_handler (buffer=0x5641bdfcc220, context=0x7ffd28080db0, arg=0x5641bdfb4180) at ../src/dtls_transport/transport.c:488
#15 0x00007f9f3a7ac5ce in udp_receive_helper (source=0x7ffd28080db0, buffer=0x5641bdfcc220, arg=0x5641bdfb4180) at ../src/dtls_transport/transport.c:499
#16 0x00007f9f3a781ea0 in udp_read (us=0x5641bdfc6770, fd=5) at ../subprojects/re/src/udp/udp.c:214
#17 0x00007f9f3a781f2e in udp_read_handler (flags=1, arg=0x5641bdfc6770) at ../subprojects/re/src/udp/udp.c:232
#18 0x00007f9f3a744676 in fd_handler (re=0x7f9f3a7a0940 <global_re>, fd=5, flags=1) at ../subprojects/re/src/main/main.c:240
#19 0x00007f9f3a745787 in fd_poll (re=0x7f9f3a7a0940 <global_re>) at ../subprojects/re/src/main/main.c:845
#20 0x00007f9f3a745aa5 in re_main (signalh=0x5641bd46639e <default_signal_handler>) at ../subprojects/re/src/main/main.c:981
#21 0x00005641bd46515e in main (argc=6, argv=0x7ffd28081278) at ../tools/data-channel-sctp-throughput.c:519
```