SCTP_SEND_FAILED_EVENT with error = 0

Hi Guys,
In Janus Webrtc server I get SCTP_SEND_FAILED_EVENT like this: PPID = 53, SID = 1, flags: 0x0005 due to error = 0x00000000
I could not find any reason for error code 0!

Appreciated for any comment.


According to [RFC 6458](https://tools.ietf.org/html/rfc6458#section-6.1.11) the description of the field is:
```
   ssfe_error:  This value represents the reason why the send failed,
      and if set, will be an SCTP protocol error code as defined in
      Section 3.3.10 of [RFC4960].
```
So my guess is that the association is not terminated due to the reception of an ABORT chunk which includes an error cause. Maybe just due to timeout?

Thanks for your reply, which timer I should change to confirm this?